<% content_for(:title, 'Log in') %>
<%= form_for :sessions, url: login_path, html: {class: "form"} do |f| -%>

  <h2>Log In</h2>

  <div class="form__group">
    <%= f.label :email, "Email Address", {class: "form__label"} %>
    <%= f.text_field :email, class: "form__input" %>
  </div>

  <div class="form__group">
    <%= f.label :password, "Password", class: "form__label" %>
    <%= f.password_field :password, class: "form__input" %>
  </div>

  <div class="form__submit">
    <%= f.submit "Log in", class: "form__button" %>
  </div>

<% end -%>
