<% content_for :title, @user.full_name %>
<h2>
  <%= @user.full_name %>
  <small><%= @user.email %></small>
</h2>

<dl>
  <dt>Dept: </dt>
  <dd><%= @user.dept %></dd>
  <dt>Extension: </dt>
  <dd>#<%= @user.extn %></dd>
</dl>

<% if @user.skills.any? %>

<ul class="user-skills">
  <% @user.skills.each do |skill| %>
    <li class="user-skill"><%= skill.description %></li>
  <% end %>
</ul>

<% end %>

<div class="actions">

<%= link_to "Edit your account", edit_user_path %>
<%= link_to "Edit your profile", profile_user_path %>

<%= link_to "Delete your account", user_path, method: :delete, data_confirm: "Are you sure?" %>

</div>
