<header>
  <h1>
    <%= link_to "Skills Inventory", root_path %>
  </h1>
  <nav class="main-nav">
    <ul class="menu-items">
    <% if logged_in? %>
      <li class="menu-item"><%= link_to "My account", current_user, class: 'menu-link' %></li>
      <li class="menu-item"><%= link_to "Log out", login_path %></li>
    <% else %>
      <li class="menu-item"><%= link_to "Register", register_path, class: 'menu-link' %></li>
      <li class="menu-item"><%= link_to "Log in", login_path %></li>
    <% end %>
    </ul>
  </nav>
</header>
